/** @format */

.social-aside {
  position: absolute;
  top: 430px;
  right: 0px;
  z-index: 1000;
  height: 305px;
  width: 65px;
}
.social-aside__nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.social-asaid__li {
  margin: 5px;
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #63c7ff;
}
.social-asaid__li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.a-twitter::after {
  background-image: url("../images/icons/twitter.svg");
}
.a-fb::after {
  background-image: url("../images/icons/Facebook-white.svg");
}
.social-asaid__a {
  position: relative;
  z-index: 1000;
  display: block;
  height: 100%;
  width: 100%;
}

/* Background shapes */
@media (min-width: 768px) {
  .social-aside {
    top: 490px;
  }
  .social-asaid__li {
    width: 40px;
    height: 40px;
  }
}

/* Background shapes */
@media (min-width: 1248px) {
  .social-aside {
    top: 35vh;
  }
  .social-aside__nav {
    right: 80px;
    top: 75vh;
  }
  .social-aside__nav {
    position: fixed;
  }
}
